* {
    box-sizing: border-box;
}

img {
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    width: 210px;
    height: 308px;
}

li {
    height: 330px;
    padding: 10px 50px 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgb(185, 185, 185);
}

h1, h2, h3 {
    text-align: center;
    margin: 0 0 0;
}

h3 {
    height: 60px;
}

h2 {
    height: 60px;
}

h4 {
    height: 180px;
    overflow: hidden;
    margin: 0 0 0;
    padding: 0 0 0;
}

a {
    text-decoration: none;
    color: rgb(21, 21, 163)
}

a:hover {
    text-decoration: underline;
}